.listItem {
  list-style-type: none;
  width: 200px;
  height: 100px;
  margin: 20px;
}
.eachItemButton {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}

.each-item-image {
  width: 120px;
  height: 100px;
}
